h1{
    background:linear-gradient(to top left, darkred, red);
    border: green solid 10px;
    padding: 10px;
    margin: 25px;
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
}
h3{
    background: linear-gradient(to top left, darkorange, orange);
    border: blue solid 10px;
    padding: 10px;
    margin: 20px;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
}
h5{
    background:linear-gradient(to top left, yellow, lightyellow);
    border: purple solid 10px;
    padding: 10px;
    margin: 15px;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
}
body{
background: linear-gradient(to top left, purple, lightblue);
border: pink dashed 3px;
    border-radius: 10px;
}
p{
    background:linear-gradient(to top left, darkgreen, lightgreen);
    border: red solid 10px;
    padding: 10px;
    margin: 10px;
    border-radius: 50px;
    text-align: justify;
    text-decoration: underline overline;
    font-size: 1em;
}
ul{
    background:linear-gradient(to top left, darkblue, lightblue);
    border: orange solid 10px;
    padding: 10px;
    margin: 5px;
    border-radius: 50px;
    text-align: center;
    font-size: 17px;
}
a{
border: lightskyblue solid 5px;
background-color: lightskyblue;
border-radius: 10px;
padding: 10px;
padding-left: 15px;
padding-right: 15px;
display: block;
float: right;
color:blue;
text-decoration: none;
}
img{
    background: purple;
}