.one{
    font-family: 'Courier New';
}
.two{
    font-family:Courier;
}
.three{
    font-family:'Franklin Gothic Medium';
}
.four{
    font-family: 'Arial Narrow'
}
.five{
    font-family: Arial;
}
.six{
    font-family: 'Gill Sans'
}
.seven{
    font-family: 'Gill Sans MT'
}
.eight{
    font-family: 'Trebuchet MS';
}
.nine{
    font-family: 'Lucida Sans';
}
.ten{
    font-family: 'Lucida Sans Regular'
}
.eleven{
    font-family: 'Lucida Grande'
}
.twelve{
    font-family: 'Lucida Sans Unicode'
}
.thrteen{
    font-family: Verdana;
}
.fourteen{
    font-family: 'Segoe UI';
}
.fivteen{
    font-family: Tahoma;
}
.sixteen{
    font-family: 'Times New Roman';
}
.seventeen{
    font-family: Times;
}
.eighteen{
    font-family: -apple-system;
}
.ninteen{
    font-family: 'Open Sans';
}
.twenty{
    font-family: 'Helvetica Enue'
}
.twentyone{
    font-family: Georgia;
}
.twentytwo{
    font-family: Impact;
}
.twentythree{
    font-family: "Arial Narrow Bold"
}
.twentyfour{
    font-family: inherit;
}
.twentyfive{
    font-family: initial;
}
.twentysix{
    font-family: unset;
}